* {
    font-size: 12px;
}

.background, #contacts_scrolled_wdw, #contacts_viewport,
#contacts_listbox, #users_listbox_settings, #add_user_room_settings_btn,
#edit_profile_login_entry_wdw, #edit_profile_pwd_entry_wdw,
#edit_profile_nick_entry_wdw, #edit_profile_email_entry_wdw{
    background: #131a21;
    color: #ffffff;
}

#chat_room,  .chat_room {
    background: #131a21;
}

#sender, #sender:hover, #sender:active {
    background: none;
    color: #fff;
    border: 0;
    box-shadow: none;
    text-shadow: none;
    padding-top: 6px;
}

#login_logo_img_btn, #sign_up_logo_img_btn {
    background-image: url("images/main_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    box-shadow: none;
    text-shadow: none;
}


/*==============SIGN IN     SIGN UP  WINDOW=========================*/

#entry_login, #entry_password, #entry_email,
#entry_nick_name, #add_contact_entry_field,
#entry_settings_field {
    background-color: #1f2831;
    color: #ffffff;
    border-color: #F1F0E2;
    border-radius: 5px;
    box-shadow: 9px 14px 29px -6px rgba(0,0,0,0.75);
    padding: 2px 6px;
    font-size: 14px;
}

button#sign_up_btn, button#sign_in_btn, #back_btn, #s_btn {
    background: #131a21;
    border: 0px;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0px;
    color: #fff;
}

button#sign_up_btn, #back_btn {
    border-bottom: 3px solid #0cf9d4;
}

button#sign_in_btn, #s_btn  {
    border-bottom: 3px solid #b6a9fd;
}

button#cancel_btn, button#login_btn, #cancel_btn, #registration_btn {
    border: 0px;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0px;
    color: #fff;
}

button#cancel_btn {
    background: #A49E9E;
}
button#login_btn, #registration_btn {
    background: #2dbd8e;
}




/*======================== CHAT WINDOW ===========================*/

#chat_room {
    background-color: #131a21;
    border: 0;
    border-radius: 50px;
}


#scrolled_window, #viewport, #entry_msg_field,
#send_btn, #scrolled_rooms, #list_rooms,
scrolled_window, #list_rooms {
    background-color: #131a21;
    border: 0;
}
#list_rooms {
    border: 1px solid #1a2735;
}

#viewport {
    border: 0;
}

#entry_msg_field, #entry_msg_field:focus,
#entry_msg_field:focus:active  {
    color: #1a2735;
    border: 0;
    border-top: 1px solid #151e28;
    border-radius: 0px;
}

#entry_msg_field:active {
    border: 0;
    border-bottom: 2px solid #1a2735;
}

#send_btn, #scrolled_rooms, #list_rooms {
    border-radius: 0px;
}

#send_btn {
    background-image: url("images/push_messages.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#scrolled_rooms, #list_rooms {
    color: #1a2735;
}

#room_name {
    color: #ffffff;
    font-size: 16px;
}


/*================buttons=============*/
#add_room_chat_btn, #contacts_btn, #room_chat_btn,
#edit_profile_chat_btn, #logout_btn{
    background: #000000;
    color: #ffffff;
    text-shadow: none;
    border-radius: 0px;
    box-shadow: none;
    padding: 10px;
    border: 0;
    background-size: cover;
    margin: 0;
}
#add_room_chat_btn:hover, #add_room_chat_btn:hover,#add_room_chat_btn:hover,
#contacts_btn:hover, #room_chat_btn:hover,
#edit_profile_chat_btn:hover, #logout_btn:hover {
    background-color: #1f2831;
}

#add_room_chat_btn {
    background-image: url("images/groups.png");
    background-size: cover;
}

#contacts_btn {
    background-image: url("images/contacts.png");
    background-size: cover;
}

#room_chat_btn{
    background-image: url("images/settings.png");
    background-size: cover;
} /*рум сеттингс*/

#edit_profile_chat_btn {
    background-image: url("images/edit_profile.png");
    background-size: cover;
} /* эдит профайл */

#logout_btn {
    background-image: url("images/logout.png");
    background-size: cover;
} /*логаут баттон*/

#send_btn {
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: none;
    border-radius: 0px;
    box-shadow: none;
    padding: 10px;
    border: 0;
    margin-left: 5px;
    background-size: cover;
    margin: 0;
}

#scrolled_rooms button {
    background-color: #131a21;
}

button#elm_1, button#elm_2, button#elm_3, button#elm_4, button#elm_5, button#elm_6 {
    background: #000000;
    background-size: cover;
    text-shadow: none;
    border-radius: 0px;
    box-shadow: none;
    border: 0;
}

button#elm_3, button#elm_4, button#elm_5 {
    border-bottom: 1px solid #1a2735;
    color: #ffffff;
}

button#elm_2 {
    background: #131a21;
    background-image: url("images/uchat_text.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-right: 1px solid #1a2735;
}

button#elm_1 {
    background-image: url("images/u_log.png");
    background-size: cover;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    color: #ffffff;
}

button#elm_5 {
    background-image: url("images/mini_logo_dark_theme.png");
    background-position: -8px -8px;
    background-size: cover;
    color: #ffffff;
}

#message_button, #message_reciever {
    background: #3e6a97;
    border: 0;
    text-shadow: none;
    box-shadow: none;
    color: #fff;
    font-size: 14px;
    padding: 7px;
    border-radius: 10px;
}

#room_button {
    background: #131a21;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    border: none;
    color: #e7e9ee;
    border-bottom: 1px solid #1a2735;
    padding-top: 10px;
}

#room_button:hover, #room_button:active {
    background: #3e6a97;
}

#message_reciever {
    background: #75a2ce;
}

#tokens_lbl, #user_name_lbl{
    color: #75a2ce;
}
/*===================Add contact popup=======================*/
#contacts_wdw, #add_contact_wdw {
    box-shadow: 2px 6px 30px 9px rgba(0,0,0,0.72);
    border: 3px solid #656565;
}

#user_name_lbl {
    color: #ffffff;
}

#contacts_scrolled_wdw, #contacts_viewport,
#contacts_listbox {
    border-color: #1a2735;
}

#cont_btn {
    background: #131a21;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #1a2735;
    color: #ffffff;
    box-shadow: none;
    text-shadow: none;
}

#new_contact_btn, #contacts_back_btn,
#add_contact_confirm_btn, #add_contact_back_btn,
#confirm_settings_btn, #back_settings_btn,
#light_btn, #back2_btn, #dark_btn  {
    border-radius: 0px;
    background: #f3f3f3;
    font-size: 13px;
}

#add_contact_error_lbl, #error_settings_lbl,
#settings_room_name_lbl {
    color: #e2e2e2;
}

#add_user_room_settings_btn, #edit_profile_back_btn,
#edit_profile_confirm_btn, #no_btn, #yes_btn {
    border-radius: 0px;
    font-size: 13px;
    box-shadow: none;
    text-shadow: none;
    border: 0px;
}

#theme_label, #edit_profile_lbl, #h1 {
    color: #ffffff;
    font-size: 14px;
}